In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("raw.csv")

In [3]:
df

,id,url,header,address,area,rooms,bathrooms,garages,amenities,price,condo,crawler,crawled_at
0,2472650173,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com 2 Quartos à Venda, 64m²","Avenida Portugal, 401 - Brooklin, São Paulo - SP",64,2 Quartos,2 Banheiros,1 Vaga,Elevador\nAr-condicionado\nPlayground\nMóvel p...,R$ 715.000,R$ 778,Brooklin,2021-03-11 01:57
1,https://www.vivareal.com.br/imoveis-lancamento...,https://www.vivareal.com.br/imoveis-lancamento...,Only Cidade Jardim,"Avenida Ulysses Reis de Mattos, 100 - Real Par...",186-252,3 Quartos,4 Banheiros,2-4 Vagas,NaN,A partir de\nR$ 2.429.620,NaN,Brooklin,2021-03-11 01:57
2,2463778941,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com 2 Quartos à Venda, 83m²","Rua Nova York, 470 - Brooklin, São Paulo - SP",83,2 Quartos,3 Banheiros,2 Vagas,Piscina\nElevador\nCondomínio fechado\nEspaço ...,R$ 1.350.000,R$ 600,Brooklin,2021-03-11 01:57
3,2505723836,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com 3 Quartos à Venda, 75m²","Avenida Portugal, 371 - Brooklin, São Paulo - SP",75,3 Quartos,2 Banheiros,1 Vaga,Academia\nCondomínio fechado,R$ 680.000,R$ 717,Brooklin,2021-03-11 01:57
4,2497648375,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com Quarto à Venda, 47m²","Rua Michigan - Brooklin, São Paulo - SP",47,1 Quarto,2 Banheiros,1 Vaga,Piscina\nVaranda gourmet\nMobiliado\nChurrasqu...,R$ 750.000,R$ 463,Brooklin,2021-03-11 01:57
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19435,2511444468,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com 2 Quartos à Venda, 56m²","Rua Purus - Tucuruvi, São Paulo - SP",56,2 Quartos,1 Banheiro,1 Vaga,Playground\nSalão de festas\nSalão de jogos,R$ 359.000,NaN,Tucuruvi,2021-03-11 04:46
19436,2500619794,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com 3 Quartos à Venda, 78m²","Rua Manuel Gaya, 945 - Tucuruvi, São Paulo - SP",78,3 Quartos,2 Banheiros,2 Vagas,Piscina\nVaranda gourmet\nChurrasqueira\nVaran...,R$ 670.000,R$ 650,Tucuruvi,2021-03-11 04:46
19437,2505112299,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com 3 Quartos à Venda, 82m²","Avenida Coronel Sezefredo Fagundes - Tucuruvi,...",82,3 Quartos,2 Banheiros,1 Vaga,Aquecimento,R$ 675.000,R$ 650,Tucuruvi,2021-03-11 04:46
19438,2505098315,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com 3 Quartos à Venda, 82m²","Avenida Coronel Sezefredo Fagundes - Tucuruvi,...",82,3 Quartos,2 Banheiros,1 Vaga,Aquecimento,R$ 675.000,R$ 650,Tucuruvi,2021-03-11 04:46
19439,2486035511,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com 2 Quartos à Venda, 96m²","Avenida Mazzei, 530 - Tucuruvi, São Paulo - SP",96,2 Quartos,1 Banheiro,1 Vaga,Piscina\nMobiliado\nChurrasqueira\nAcademia\nE...,R$ 540.000,R$ 670,Tucuruvi,2021-03-11 04:46

In [4]:
df[df.duplicated(subset=['id','header','address','area','rooms','price'])]

,id,url,header,address,area,rooms,bathrooms,garages,amenities,price,condo,crawler,crawled_at
72,2439997677,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com 3 Quartos à Venda, 130m²","Rua Doutor Paschoal Imperatriz - Brooklin, São...",130,3 Quartos,4 Banheiros,3 Vagas,NaN,R$ 1.436.800,NaN,Brooklin,2021-03-11 01:58
146,2501373854,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com 2 Quartos à Venda, 63m²","Rua Soberana, 49 - Brooklin, São Paulo - SP",63,2 Quartos,2 Banheiros,1 Vaga,Piscina\nChurrasqueira\nAcademia\nElevador\nEs...,R$ 850.000,R$ 651,Brooklin,2021-03-11 01:58
218,2512231186,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com 3 Quartos à Venda, 132m²","Rua Califórnia, 1127 - Brooklin, São Paulo - SP",132,3 Quartos,5 Banheiros,3 Vagas,Espaço gourmet\nGerador elétrico\nSegurança 24...,R$ 2.239.583,NaN,Brooklin,2021-03-11 01:59
219,2511999063,https://www.vivareal.com.br/imovel/apartamento...,Apartamento com Quarto para Venda/Aluguel 70m²,"Rua Professor José Leite e Oiticica, 434 - Bro...",70,1 Quarto,2 Banheiros,1 Vaga,Mobiliado\nVaranda\nAcademia\nÁrea de serviço\...,R$ 1.050.000,R$ 1.033,Brooklin,2021-03-11 01:59
255,2483200723,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com 3 Quartos à Venda, 147m²","Rua Professor José Leite e Oiticica, 240 - Bro...",147,3 Quartos,5 Banheiros,2 Vagas,Piscina\nVaranda gourmet\nMobiliado\nAcademia\...,R$ 1.850.000,R$ 1.177,Brooklin,2021-03-11 01:59
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19405,https://www.vivareal.com.br/imoveis-lancamento...,https://www.vivareal.com.br/imoveis-lancamento...,Via Monteiro,"Avenida Monteiro Lobato, 486 - Macedo, Guarulh...",25-60,1-3 Quartos,1-2 Banheiros,1 Vaga,NaN,Sob Consulta,NaN,Tucuruvi,2021-03-11 04:46
19412,https://www.vivareal.com.br/imoveis-lancamento...,https://www.vivareal.com.br/imoveis-lancamento...,Funn Limão,"Rua Doutor Morais Dantas, 189 - Limão, São Pau...",34-38,2 Quartos,1 Banheiro,1 Vaga,Minha Casa Minha Vida,R$ 195.000,NaN,Tucuruvi,2021-03-11 04:46
19419,https://www.vivareal.com.br/imoveis-lancamento...,https://www.vivareal.com.br/imoveis-lancamento...,Inova Penha,"Rua Mirandinha, 414 - Penha De Franca, São Pau...",48-51,2 Quartos,1 Banheiro,1 Vaga,NaN,Sob Consulta,NaN,Tucuruvi,2021-03-11 04:46
19426,https://www.vivareal.com.br/imoveis-lancamento...,https://www.vivareal.com.br/imoveis-lancamento...,Tom Penha,"Avenida Tarumã, 505 - Vila Pierina, São Paulo ...",49-55,2 Quartos,1 Banheiro,-- Vagas,NaN,Sob Consulta,NaN,Tucuruvi,2021-03-11 04:46
19433,https://www.vivareal.com.br/imoveis-lancamento...,https://www.vivareal.com.br/imoveis-lancamento...,Praças da Cidade,"Rua Piratininga, 833 - Brás, São Paulo - SP",55-94,1-2 Quartos,2 Banheiros,1 Vaga,NaN,Sob Consulta,NaN,Tucuruvi,2021-03-11 04:46

In [5]:
df = df.drop_duplicates(subset=['id','header','address','area','rooms','price'], keep = 'first')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16492 entries, 0 to 19439
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          16492 non-null  object
 1   url         16492 non-null  object
 2   header      16492 non-null  object
 3   address     16492 non-null  object
 4   area        16492 non-null  object
 5   rooms       16492 non-null  object
 6   bathrooms   16492 non-null  object
 7   garages     16492 non-null  object
 8   amenities   11877 non-null  object
 9   price       16492 non-null  object
 10  condo       12875 non-null  object
 11  crawler     16492 non-null  object
 12  crawled_at  16492 non-null  object
dtypes: object(13)
memory usage: 1.8+ MB

In [7]:
filtro_de_anuncio = [w.isnumeric() for w in df['id']]

In [8]:
df = df[filtro_de_anuncio]

In [11]:
df = df.reset_index(drop=True)

In [14]:
df['id'] = df['id'].astype(int)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15524 entries, 0 to 15523
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          15524 non-null  int32
 1   url         15524 non-null  object
 2   header      15524 non-null  object
 3   address     15524 non-null  object
 4   area        15524 non-null  object
 5   rooms       15524 non-null  object
 6   bathrooms   15524 non-null  object
 7   garages     15524 non-null  object
 8   amenities   11792 non-null  object
 9   price       15524 non-null  object
 10  condo       12875 non-null  object
 11  crawler     15524 non-null  object
 12  crawled_at  15524 non-null  object
dtypes: int32(1), object(12)
memory usage: 1.5+ MB

AREA

In [17]:
#ao fazer o split de letras e numeros que estão como uma só
#string e depois modificando para int, aotomaticamente  é excluido letras 
df['rooms'] = df['rooms'].str.split(' ').str[0].str.replace('--','0').astype(int)

In [18]:
df['rooms']

0        2
1        2
2        3
3        1
4        4
        ..
15519    2
15520    3
15521    3
15522    3
15523    2
Name: rooms, Length: 15524, dtype: int32

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15524 entries, 0 to 15523
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          15524 non-null  int32
 1   url         15524 non-null  object
 2   header      15524 non-null  object
 3   address     15524 non-null  object
 4   area        15524 non-null  object
 5   rooms       15524 non-null  int32
 6   bathrooms   15524 non-null  object
 7   garages     15524 non-null  object
 8   amenities   11792 non-null  object
 9   price       15524 non-null  object
 10  condo       12875 non-null  object
 11  crawler     15524 non-null  object
 12  crawled_at  15524 non-null  object
dtypes: int32(2), object(11)
memory usage: 1.4+ MB

BANHEIROS

In [22]:
df['bathrooms'] = df['bathrooms'].str.split(' ').str[0].str.replace('--','0').astype(int)

In [23]:
df['bathrooms']

0        2
1        3
2        2
3        2
4        4
        ..
15519    1
15520    2
15521    2
15522    2
15523    1
Name: bathrooms, Length: 15524, dtype: int32

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15524 entries, 0 to 15523
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          15524 non-null  int32
 1   url         15524 non-null  object
 2   header      15524 non-null  object
 3   address     15524 non-null  object
 4   area        15524 non-null  object
 5   rooms       15524 non-null  int32
 6   bathrooms   15524 non-null  int32
 7   garages     15524 non-null  object
 8   amenities   11792 non-null  object
 9   price       15524 non-null  object
 10  condo       12875 non-null  object
 11  crawler     15524 non-null  object
 12  crawled_at  15524 non-null  object
dtypes: int32(3), object(10)
memory usage: 1.4+ MB

In [25]:
df['garages'] = df['garages'].str.split(' ').str[0].str.replace('--','0').astype(int)

In [ ]:
df['garages']

preço

In [29]:
df['price'] = df['price'].str.split(' ').str[1].str.replace('.','').astype(int)

<ipython-input-29-d5f155d34c61>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df['price'] = df['price'].str.split(' ').str[1].str.replace('.','').astype(int)

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15524 entries, 0 to 15523
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          15524 non-null  int32
 1   url         15524 non-null  object
 2   header      15524 non-null  object
 3   address     15524 non-null  object
 4   area        15524 non-null  object
 5   rooms       15524 non-null  int32
 6   bathrooms   15524 non-null  int32
 7   garages     15524 non-null  int32
 8   amenities   11792 non-null  object
 9   price       15524 non-null  int32
 10  condo       12875 non-null  object
 11  crawler     15524 non-null  object
 12  crawled_at  15524 non-null  object
dtypes: int32(5), object(8)
memory usage: 1.2+ MB

In [37]:
df['condo'] = df['condo'].str.split(' ').str[1].str.replace('.','').astype(float)

<ipython-input-37-a15f3852df42>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df['condo'] = df['condo'].str.split(' ').str[1].str.replace('.','').astype(float)

datetime

In [41]:
df['crawled_at'] =pd.to_datetime(df['crawled_at'], format = '%Y-%m-%d %H:%M:%S')

In [42]:
df['crawled_at']

0       2021-03-11 01:57:00
1       2021-03-11 01:57:00
2       2021-03-11 01:57:00
3       2021-03-11 01:57:00
4       2021-03-11 01:57:00
                ...
15519   2021-03-11 04:46:00
15520   2021-03-11 04:46:00
15521   2021-03-11 04:46:00
15522   2021-03-11 04:46:00
15523   2021-03-11 04:46:00
Name: crawled_at, Length: 15524, dtype: datetime64[ns]

informações juntas em uma string:
usando o get_dummies

In [43]:
df['amenities'].str.get_dummies(sep='\n')

,Academia,Aceita animais,Acesso para deficientes,Aquecimento,Ar-condicionado,Armário embutido,Armário na cozinha,Bicicletário,Cabeamento estruturado,Churrasqueira,...,TV a cabo,Varanda,Varanda gourmet,Vigia,Vista exterior,Vista para a montanha,Vista para lago,Vista para o mar,Área de lazer,Área de serviço
0,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,1,...,0,1,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15519,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15520,1,0,0,0,0,0,0,0,0,1,...,0,1,1,0,0,0,0,0,0,0
15521,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15522,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15523,1,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [50]:
df = pd.concat([df, df["amenities"].str.get_dummies(sep="\n")], axis=1)

In [51]:
df

,id,url,header,address,area,rooms,bathrooms,garages,amenities,price,...,TV a cabo,Varanda,Varanda gourmet,Vigia,Vista exterior,Vista para a montanha,Vista para lago,Vista para o mar,Área de lazer,Área de serviço
0,-2147483648,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com 2 Quartos à Venda, 64m²","Avenida Portugal, 401 - Brooklin, São Paulo - SP",64,2,2,1,Elevador\nAr-condicionado\nPlayground\nMóvel p...,715000,...,0,0,0,0,0,0,0,0,0,0
1,-2147483648,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com 2 Quartos à Venda, 83m²","Rua Nova York, 470 - Brooklin, São Paulo - SP",83,2,3,2,Piscina\nElevador\nCondomínio fechado\nEspaço ...,1350000,...,0,0,0,0,0,0,0,0,0,0
2,-2147483648,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com 3 Quartos à Venda, 75m²","Avenida Portugal, 371 - Brooklin, São Paulo - SP",75,3,2,1,Academia\nCondomínio fechado,680000,...,0,0,0,0,0,0,0,0,0,0
3,-2147483648,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com Quarto à Venda, 47m²","Rua Michigan - Brooklin, São Paulo - SP",47,1,2,1,Piscina\nVaranda gourmet\nMobiliado\nChurrasqu...,750000,...,0,0,1,0,0,0,0,0,0,0
4,-2147483648,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com 4 Quartos à Venda, 167m²","Brooklin, São Paulo - SP",167,4,4,3,Piscina\nVaranda gourmet\nChurrasqueira\nVaran...,1999000,...,0,1,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15519,-2147483648,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com 2 Quartos à Venda, 56m²","Rua Purus - Tucuruvi, São Paulo - SP",56,2,1,1,Playground\nSalão de festas\nSalão de jogos,359000,...,0,0,0,0,0,0,0,0,0,0
15520,-2147483648,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com 3 Quartos à Venda, 78m²","Rua Manuel Gaya, 945 - Tucuruvi, São Paulo - SP",78,3,2,2,Piscina\nVaranda gourmet\nChurrasqueira\nVaran...,670000,...,0,1,1,0,0,0,0,0,0,0
15521,-2147483648,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com 3 Quartos à Venda, 82m²","Avenida Coronel Sezefredo Fagundes - Tucuruvi,...",82,3,2,1,Aquecimento,675000,...,0,0,0,0,0,0,0,0,0,0
15522,-2147483648,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com 3 Quartos à Venda, 82m²","Avenida Coronel Sezefredo Fagundes - Tucuruvi,...",82,3,2,1,Aquecimento,675000,...,0,0,0,0,0,0,0,0,0,0
15523,-2147483648,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com 2 Quartos à Venda, 96m²","Avenida Mazzei, 530 - Tucuruvi, São Paulo - SP",96,2,1,1,Piscina\nMobiliado\nChurrasqueira\nAcademia\nE...,540000,...,0,0,0,0,0,0,0,0,0,0

In [52]:
df = df.drop(columns=["amenities"])

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15524 entries, 0 to 15523
Columns: 172 entries, id to Área de serviço
dtypes: datetime64[ns](1), float64(1), int32(5), int64(160), object(5)
memory usage: 20.1+ MB